
#upper{
    width: 400px;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 10px;
    background-color: #eee;
    box-shadow:  4px 4px 8px 0px rgba(185, 173, 128, 0.75); 
}
.photo{
    position: relative;
    height: 266px;
}
.photo img{
    width: 100%;
    max-width: 400px;
    position: absolute;
    opacity: 0;
    left: 0;
    transition: opacity 1.5s;
}
.photo img.shown{
     opacity: 1;
}
.photo img.arrow{
    cursor:pointer;
    position: absolute;
    top: 0 px;
    width:40px;

}